:root {
  --general-color-1: #1992d4;
  --general-color-2: #e2e8f0;
  --general-color-3: #ffffff;
  --highlight-color-1: #f0b429;
}

* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;

  background-color: #BADA55;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
}

.sidebar {
  background-color: var(--general-color-1);
  color: var(--general-color-3);
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 2rem;

  grid-area: 1 / 1 / 3 / 2;

  display: grid;
  grid-template: 3 / 1;
  align-content: start;
  gap: 3rem;
}
.logo {
  font-size: 1.5rem;
}
.icon{
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.header,
.main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.header {
  background-color: var(--general-color-3);
  display: grid;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
.img-1,
.img-2 {
  border-radius: 100%;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--highlight-color-1);
}
.upper,
.lower {
  display: grid;
  grid: 1fr / 1fr 1fr;
  align-items: center;
}
.action-buttons,
.profile-1 {
  justify-self: end;
}

.main {
  background-color: var(--general-color-2);
}

ul {
  list-style: none;
  text-align: left;
}
li {
  padding-bottom: 1.5rem;
}